/LADService-env
/RelolerApiEnv
/LADService
/architecture
google_client_secret.json
access_key.json
*.pyc
*/__pycache__/
/RelolerApi/db.sqlite3
RelolerApi/static
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
