*.pyc
*/__pycache__/
/RelolerApi/db.sqlite3
RelolerApi/static
/secret_keys/
/.vscode/
background.webm
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml