option_settings:
  aws:elasticbeanstalk:application:environment:
    OAUTHLIB_INSECURE_TRANSPORT: 1
commands:
  01add_pythonpath:
    command: pwd | cat >> $(which python | xargs dirname | xargs dirname | xargs echo)/lib/python3.7/site-packages/custom_path.pth
  02install_rabbitmq:
    command: curl -s https://packagecloud.io/install/repositories/rabbitmq/rabbitmq-server/script.python.sh | bash